.footer{
    background-color: #020F2A;
    font-size: 17px;
    padding: 25px 15px;   
    overflow: hidden;
    
}

.footer a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: "Poppins 500","Noto Sans Regular","Helvetica Neue",Arial,sans-serif;
}